<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item">
    <%= link_to "Summary", tasks_path + "#task_#{task.id}", class: "nav-link #{(current_page?(tasks_path) || current_page?(root_path)) ? "active" : "text-muted"}" %>
  </li>
  <li class="nav-item">
    <%= link_to "View (#{task.comments.any? ? pluralize(task.comments.count, "comment") : "no comments yet"})", task_path(task), class: "nav-link #{current_page?(task_path(task)) ? "active" : "text-muted"}" %>
  </li>
  <% if current_user.client? %>
    <li class="nav-item">
      <%= link_to "Edit", edit_task_path(task), class: "nav-link #{current_page?(edit_task_path(task)) ? "active" : "text-muted"}" %>
    </li>
  <% end %>
</ul>
