<h2 id="tasks-header" class="text-center"><%= current_user.name %>'s tasks</h2>

<%= render partial: 'task_form_card', locals: {task: @task, tabs: false} %>

<% @tasks.each do |task| %>
  <%= render partial: 'task_card', locals: {task: task, tab: :index} %>
<% end %>
