<div class="row">

  <div class="col-md-2 sidebar">

    <h2>Notifications</h2>

    <%= render partial: 'notifications/list', locals: {notifications: @notifications} %>
  </div>

  <div class="col-md-8">

    <h2>Tasks</h2>

    <%= render partial: 'task_form_card', locals: {task: @task} %>

    <% @tasks.each do |task| %>
      <%= render partial: 'task_card', locals: {task: task} %>
    <% end %>
  </div>

</div>
