<h2 class="text-center main-heading"><%= current_user.name %>'s tasks</h2>

<%= render partial: 'task_form_card', locals: {task: @task, tabs: false} if current_user.client? %>

<% @tasks.each do |task| %>
  <%= render partial: 'task_card', locals: {task: task, tab: :index, return_path: tasks_path} %>
<% end %>
