<h2 class="text-center main-heading"><%= current_user.client? ? "#{current_user.name}'s" : "Client" %> tasks</h2>

<%= render partial: 'task_form_card', locals: {task: @task, tabs: false} if policy(@task).create? %>

<%= render partial: 'task_card', collection: @tasks, as: :task, locals: {tab: :index} %>
