<%= render partial: 'task_card', locals: {task: @task, tab: :show, return_path: tasks_path} %>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <%= render partial: 'comments/comment_card', collection: @comments, as: :comment %>
    <%= render partial: 'comments/comment_form_card', locals: {task: @task, comment: @new_comment} %>
  </div>
</div>
