<ul class="nav nav-tabs card-header-tabs floating-card-header-tabs">
  <li class="nav-item">
    <a data-task="{{task.id}}" class="nav-link summary-link active" href="#">Summary</a>
  </li>
  <li class="nav-item">
    <a data-task="{{task.id}}" class="nav-link comments-link text-muted" href="#">View ({{commentCount task.num_comments}})</a>
  </li>
</ul>
