<%= form_for label do |f| %>
  <div class="card new-label-card">
    <div class="card-block">
      <div class="form-group">
        <%= f.label :name%>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
