<div class="card">
  <div class="card-block">
    <%= form_for label do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "form-control btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
