<ul class="notification-list nav nav-sidebar">
  <% notifications.each do |notification| %>
  <li class="notification-item <%= notification.status %>">
    <%= link_to notification.content, task_path(notification.task) %>
  </li>
  <% end %>
</ul>
