<h3 id="notifications-header" class="text-center">Notifications</h3>

<ul class="nav nav-sidebar">
  <% notifications.each do |notification| %>
    <%=
    link_to(
      content_tag(
        :li,
        raw("#{notification.content}<br><em>#{notification.human_created_at}</em>"),
        class: "notification-item #{notification.status} task-#{notification.task.status}"
      ),
      user_notification_view_path(notification.receiver, notification),
      data: { task: notification.task.id },
      method: :post,
      class: "notification-link"
    )
    %>
  <% end %>
</ul>
