<h3>Notifications</h3>

<ul class="nav nav-sidebar">
  <% notifications.each do |notification| %>
    <%= link_to content_tag(:li, notification.content, class: "notification-item"), task_path(notification.task), class: "notification-link" %>
  <% end %>
</ul>
