<article class="card comment-card">
  <div class="card-header">
    <span class="card-subtitle float-right text-right">
      <em class="text-muted">{{human_created_at}}</em><br>







      <!-- NEEDS TO BE ONLY IF YOU'RE THE AUTHOOOOOOOOOOOOOR -->






      {{#ifEqual author.id <%= current_user.id %>}}
      <a class="text-center" data-comment="{{id}}" data-task="{{task_id}}" href="#" onclick="deleteComment(event);">Delete</a>
      {{/ifEqual}}
    </span>
    <h6 class="card-title"><strong>{{author.name}}</strong> <span class="text-muted">wrote:</span></h6>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="comment-image col-md-2">
        <img src="{{author.avatar_url}}" alt="{{author.name}}">
      </div>
      <div class="comment-content col-md-10">
        <p>{{content}}</p>
      </div>
    </div>
  </div>
</article>
