/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'colors';

body {
  width: 100%;
  margin: 0;
}

.non-user-area {
  margin-top: 2rem;
}

main {
  margin-top: 2rem;
  margin-bottom: 50%;
}

#top-bar {
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: $bg-gray;

  .navbar-brand {
    font-weight: bold;
  }

  a:hover {
    background-color: transparent;
  }

  .navbar-toggler {
    font-size: 1rem;
    padding: 0.1rem 0.25rem;
  }
}

.main-heading {
  padding: 1rem;
}

.notification-sidebar {
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: auto;
  background-color: $bg-gray;
  border: 1px solid rgba(0,0,0,.125);
  border-left: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  #notifications-header {
    padding: 1rem;
  }

  .nav-sidebar {
    display: block;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);

    .notification-link {
      text-decoration: none;

      li {
        display: block;
        padding: 0.5rem;
        padding-left: 1rem;
        border-top: 1px solid rgba(0,0,0,.125);
        background-color: white;
      }

      li.task-accepted {
        background-color: $bg-status-accepted;
        border-color: $border-status-accepted;
        color: $text-status-accepted;
      }

      li.task-in_progress {
        background-color: $bg-status-in_progress;
        border-color: $border-status-in_progress;
        color: $text-status-in_progress;
      }

      li.task-completed {
        background-color: $bg-status-completed;
        border-color: $border-status-completed;
        color: $text-status-completed;
      }

      li.seen {
        font-style: italic;
        background-color: inherit;
        border-color: rgba(0, 0, 0, 0.125);
        color: #757575;
      }

      li.seen::after {
        content: " (seen)";
      }
    }

    .notification-link:hover {
      li {
        background-color: rgba(0,0,0,.125);
        border-color: rgba(0,0,0,.125);
      }
    }

    .notification-link:visited {
      color: black;
    }
  }
}

.reminder-sidebar {
  padding: 0.5rem 0;
  padding-bottom: 1rem;
  margin-bottom: auto;
  background-color: $bg-gray;
  border: 1px solid rgba(0,0,0,.125);
  border-right: none;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;

  #reminders-header {
    padding: 1rem;
  }

  .nav-tabs {
    margin: 0;

    li:first-child {
      padding-left: 0.5rem;
    }

    a.nav-link.text-muted:hover {
      background-color: rgba(0,0,0,.125);
      border-color: rgba(0,0,0,.250);
      border-bottom-color: rgba(0,0,0,0);
    }

    a.active {
      background-color: $bg-gray;
      border-bottom: 1px solid $bg-gray;
    }
  }

  .reminder-card-list {
    padding: 0 0.5rem;
    background-color: $bg-gray;

    .reminder-link-list {
      list-style: none;
      padding-left: 0;
      margin: 1rem;

      li {
        padding: 0.25rem;

        a {
          text-decoration: underline;
        }
      }
    }

    .reminder-card {

      .list-group {
        margin: 0;

        .concerning-link {
          text-decoration: none;
          background-color: white;

          li {
            border-radius: 0;
            border-top: 1px solid rgba(0,0,0,.125);
            font-size: 0.75rem;
          }

          li.task-idle, li.task-requested {
            background-color: rgba(0,0,0,.025);
          }

          li.task-accepted {
            background-color: $bg-status-accepted;
            border-color: $border-status-accepted;
            color: $text-status-accepted;
          }

          li.task-in_progress {
            background-color: $bg-status-in_progress;
            border-color: $border-status-in_progress;
            color: $text-status-in_progress;
          }

          li.task-completed {
            background-color: $bg-status-completed;
            border-color: $border-status-completed;
            color: $text-status-completed;
          }
        }

        .concerning-link:hover {

          li {
            background-color: rgba(0,0,0,.125);
            color: black;
          }
        }

        .reminder-created-at {
          font-size: 0.75rem;
        }

        li:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.btn {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
}

.btn:visited {
  color: white;
}

.field_with_errors {
  height: 100%;
  width: 100%;
}
