/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 100%;
  margin: 2.5rem 0;
}

#tasks-header {
  padding: 1rem;
}

.notification-sidebar {
  padding: 0;
  padding-top: 0.5rem;
  background-color: #f7f7f9;
  border: 1px solid rgba(0,0,0,.125);
  border-left: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  #notifications-header {
    padding: 1rem;
  }

  .nav-sidebar {
    display: block;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);

    .notification-link {
      text-decoration: none;

      li {
        display: block;
        padding: 0.5rem;
        padding-left: 1rem;
        border-top: 1px solid rgba(0,0,0,.125);
        background-color: white;
      }

      li.task-accepted {
        background-color: #fcf8e3;
        border-color: #faf2cc;
        color: #8a6d3b;
      }

      li.task-in_progress {
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
      }

      li.task-completed {
        background-color: #d9edf7;
        border-color: #bcdff1;
        color: #31708f;
      }

      li.seen {
        font-style: italic;
        background-color: inherit;
        border-color: rgba(0, 0, 0, 0.125);
        color: #757575;
      }

      li.seen::after {
        content: " (seen)";
      }
    }

    .notification-link:hover {
      li {
        background-color: rgba(0,0,0,.125);
        border-color: rgba(0,0,0,.125);
      }
    }

    .notification-link:visited {
      color: black;
    }
  }
}

.reminder-sidebar {
  padding: 0.5rem 0;
  background-color: #f7f7f9;
  border: 1px solid rgba(0,0,0,.125);
  border-right: none;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;

  #reminders-header {
    padding: 1rem;
  }

  .nav-tabs {
    margin: 0;

    li:first-child {
      padding-left: 0.5rem;
    }

    a.nav-link.text-muted:hover {
      background-color: rgba(0,0,0,.125);
      border-color: rgba(0,0,0,.250);
      border-bottom-color: rgba(0,0,0,0);
    }

    a.active {
      background-color: #f7f7f9;
      border-bottom: 1px solid #f7f7f9;
      // font-weight: bold;
    }
  }

  .reminder-card-list {
    padding: 0 0.5rem;
    background-color: #f7f7f9;

    .reminder-card {

      .list-group {
        margin: 0;

        .concerning-link {
          text-decoration: none;
          background-color: white;

          li {
            border-radius: 0;
            border-top: 1px solid rgba(0,0,0,.125);
            font-size: 0.75rem;
          }

          li.task-idle, li.task-requested {
            background-color: #f4e8dc;
            border-color: #e5ceb7;
            color: #8a6d3b;
          }

          li.task-accepted {
            background-color: #fcf8e3;
            border-color: #faf2cc;
            color: #8a6d3b;
          }

          li.task-in_progress {
            background-color: #dff0d8;
            border-color: #d0e9c6;
            color: #3c763d;
          }

          li.task-completed {
            background-color: #d9edf7;
            border-color: #bcdff1;
            color: #31708f;
          }
        }

        .concerning-link:hover {

          li {
            background-color: rgba(0,0,0,.125);
            color: black;
          }
        }

        .reminder-created-at {
          font-size: 0.75rem;
        }

        li:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.btn {
  cursor: pointer;
}
