<nav id="top-bar" class="navbar navbar-light navbar-toggleable-md">
  <%= link_to "Cadu", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <%= link_to "Tasks", tasks_path, class: "nav-item nav-link" %>
      <%= link_to "Pricing", '#', class: "nav-item nav-link disabled" %>
    </div>
  </div>
</nav>
